{{/*
     SPDX-FileCopyrightText: 2026 Dan Anglin <d.n.i.anglin@gmail.com>
     SPDX-License-Identifier: AGPL-3.0-only
*/}}
{{ define "head.html" }}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
        <script src="/static/htmx/htmx.min.js"></script>
{{ end }}
